.page {
    background-color: #e1e4e8;
    width: 324px;
}
.header {
    padding: 10px;
}

.header .title {
    float: left;
    font-family: sans-serif;
}

.header .title .infinite-war {
    font-weight: 500;
}

.header .title .time{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}

.header .score {
    float: right;
    display: flex;
    align-items: center;
}

.header .score .img-rotten-tomatoes{
    margin-left: 5px;
    width: 23px;
}

.footer {
    margin: 10px;
    font-family: sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
}

.button {
    top: 500px;
    left: 60px;
    position: absolute;
    background-color: #c7c7c7;
    border-radius: 28px;
    text-indent:0;
    border: 2px solid white;
    display:inline-block;
    color: black;
    font-family: sans-serif;
    font-size:15px;
    font-weight: 200;
    font-style:normal;
    height: 40px;
    line-height: 40px;
    width: 230px;
    text-decoration:none;
    text-align:center;
}